/* GLOBAL */

h1, h2, h3, h4, h5, h6 p, ul { 
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
}


body {
    font-family: "Roboto", sans-serif;
    margin: 0;
   color: #2e2f42;
  }
  .container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .section{
    padding: 120px 0;
    margin: 0;
  }
  
  /* HEADER  */

.header{
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .nav-list {
    
    display: flex;
    gap: 40px;
  }
  
  .nav-link {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: #4d5ae5;
  }
  
  .logo {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }
  
  .logo-blue {
    color: #4d5ae5;
  }
  
  .logo-dark {
    color: #2e2f42;
  }
  
  .contact {
    display: flex;
    gap: 40px;
   
  }
  
  .contact-link {
    color: #434455;
    text-decoration: none;
  }

  .contact-link:hover{
    color: #4d5ae5;
  }
  
  /*  HERO  */
  .hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
   
  }
  
  .hero-title {
    font-size: 56px;
    color: white;
    margin-bottom: 48px;
  }
  
  .hero-button {
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    width: 169px;
    height: 56px;
    cursor: pointer;
    
  }
  
  .hero-button:hover {
    background-color: #404bbf;
  }
  
  /* .hero-button:active {
    transform: scale(0.97);
  }*/
  
  
  /*  FEATURES */
  .features {
   background-color: #ffffff;
  }
  
  .features-list {
    
    display: flex;
    gap: 24px;

  }
  
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
  
  .feature-title {
    font-weight: 500;
    font-size: 20px;
   margin-bottom: 8px;
  }
  
  .feature-text{
    font-size: 16px;
    color: #434455;
  }
  /*  TEAM  */
  .team {
    background-color: #f4f4fd;
    text-align: center;
  }
  
  .team-title {
    font-size: 36px;
    margin-bottom: 72px;
  }
  
  .team-list {
    
    display: flex;
    justify-content: center;
    gap: 24px;

  }
  
  .team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  
  .team-info {
    padding: 32px 0;
  }
  
  /* İsim */
  .team-info h3 {
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  /* Görev */
  .team-info p {
    font-size: 16px;
    color: #434455;

  }
  
  /* portfolio kısmı*/
  
  
  .portfolio-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px;
  }
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
  }
  
  .portfolio-name {
    /*üstler*/
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .portfolio-type {
    font-size: 16px;
    color: #434455;

  }
  
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
   border-bottom: 1px solid #e7e9fc;
  }
  
  
  .portfolio-info {
    padding: 32px 16px;
  }
  
  
  /* FOOTER */
  .page-footer {
    background-color: #2e2f42;
    padding: 60px 80px;
  }
  
  .logo-light {
    color: white;
  }
  
  .footer-text {
    width: 264px;
    margin-top: 16px;
  }
  